*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(
180deg,#99c9f3 0%,#b2d3f7 50%,#a0ceff 100%);
font-family: Arial, Helvetica, sans-serif;
}

.container{
display:flex;
justify-content:center;
align-items:center;
}

.Card1{
width: 420px;
background:white;
border-radius:25px;
padding:30px;
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.AI-box{
width:100%;
background:#ddeeff;
padding:15px;
border-radius:15px;
text-align:center;
}

.textoh2{
color:#0057FF;
font-size:32px;
}

.subtexto{
color:#0057FF;
font-size:20px;
}

.imagem-box{
width:220px;
height:220px;
background:#f4f8ff;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
}

.imagem-box img{
width:190px;
height:190px;
object-fit: contain;
border-radius:50%;
border:5px solid #ddeeff;
}

.texto-box{
width:100%;
background:#f7f9fc;
padding:20px;
border-radius:18px;
text-align:center;
}

.instrucao{
color:#666;
line-height:1.7;
font-size:15px;
}

.botao-box{
width:100%;
background:#eef4ff;
padding:20px;
border-radius:18px;
display:flex;
justify-content:center;
flex-direction: column;
gap: 0.5px;
}

.botao{
text-decoration:none;
background:#0057FF;
color:white;
padding:12px 28px;
border-radius:50px;
transition:0.3s;
text-align: center;
}

.botao:hover{
opacity:0.8;
}

.voltar-box{
margin-top:20px;
display:flex;
justify-content:center;
}

.botao-voltar{
text-decoration:none;
background:#0057FF;
color:white;
padding:12px 28px;
border-radius:50px;
transition:0.3s;
}

.botao-voltar:hover{
opacity:0.8;
}

.video-ia {
border-radius: 20px;   
border: 5px solid #ddeeff; 
object-fit: cover;  
display: block;       
box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}
