:root {
--color-primary: #000000;
--color-secondary: #1A1A1A;
--color-accent: #0057FF;
--color-text-primary: #111111;
--color-text-secondary: #666666;
--color-text-light: #999999;
--color-background: #FFFFFF;
--color-background-alt: #F7F7F7;
--color-background-dark: #000000;
--color-border: #E5E5E5;
--spacing-sm: 20px;
--spacing-md: 50px;
--spacing-xl: 90px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: var(--color-background);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
background-color: var(--color-accent);
font-size: 30px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

/* Colocar font-family GOTHAM */
.ht {
color: var(--color-background-alt);
font-size: 20px;
display: flex;
text-align: center;
justify-content: space-between;
padding: 25px 25px;
}

.grade {
display: flex;
flex-direction: row;
align-items: center;
justify-content: right;
color: var(--color-background-alt);
gap: var(--spacing-md);
list-style: none;
font-size: 15px;
margin: var(--spacing-sm);
}

.link {
text-decoration: none;
background-color: var(--color-accent);
color: var(--color-background-alt);
padding: 10px 20px;
border: .5px solid var(--color-background-alt);
border-radius: 2px;
}

.link:hover {
opacity: 0.8;
transition: 0.3s;
}

.inicio {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: var(--spacing-xl);
margin: var(--spacing-xl);
font-size: large;
gap: 10px;
background-color: #0057FF;
}

.sub-inicio {
color: var(--color-text-primary);
gap: var(--spacing-md);
}

.sub-inicio h3 {
color: var(--color-text-secondary);
font-size: 15px;
}

.Y31 {
width: 750px;
background-color: var(--color-background-alt);
display: flex;
align-items: end;
justify-content: right;
padding: 10px 20px;
margin-left: 30px;
}

.area {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: var(--spacing-xl);
margin: var(--spacing-xl);
font-size: large;
background-color: aqua;
}

.sub-area {
    gap: var(--spacing-xl);
}

.card1 {
display: flexbox;
flex-direction: column;
align-items: center;
justify-content: center;
gap: var(--spacing-xl);
}


.b {
    width: 585px;
    height: auto;
}

.c {
    width: 585px;
    height: auto;
}

#func{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.txt{
    display: flex;
    justify-content: center;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txtH3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btns{
    display: flex;
    justify-content: center;
    text-align: right;
}